<h1> Invoice - <%= @invoices.id %></h1>
<p>Status: <%= @invoices.status %></p>
<p>Created on: <%= @invoices.created_at_formatted %></p>
<p>Customer: <%= @invoices.customer.customer_full_name %></p>
<h3>Items: <%=  %> </h3>
