<h1>Enabled Merchants</h1>
<% @enabled_merchants.each do |merchant| %>
<p><%= link_to "#{merchant.name}", admin_merchant_path(merchant)  %></p>
<% if merchant.status == 'Enabled' %>
<%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: 'Enabled'} %></p>
<% end %>
<% end %>

<h1>Disabled Merchants</h1>
<% @disabled_merchants.each do |merchant| %>
<p><%= link_to "#{merchant.name}", admin_merchant_path(merchant)  %></p>
<% if merchant.status == 'Disabled' %>
<%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: 'Disabled'} %></p>
<% end %>
<% end %>

<%= link_to "Create New Merchant", new_admin_merchant_path, method: :get  %>

<h1>Top 5 Merchant by Total Revenue</h1>
<% @merchants.top_five_merchants.each do |merchant| %>

<p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %> $<%= number_to_currency(merchant.revenue.to_f/100) %> </p>

<p>Top selling date for <%= "#{merchant.name}" %> was <%= merchant.best_sales.created_at_formatted %>.</p>
<% end %>
